:root {
  --foreground: #ededed;
  --background: #060a0e;
  --secondary-color: #162531;
  --accent-color: #9af376;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
